<div class="sidebar">
  <div class="side-menu">
    <p>用途から選ぶ<span class="arrow"></span></p>
    <nav>
      <ul>
        <li><a href="/collections/first-gift">初めての人に / ギフトに</a></li>
        <li><a href="/collections/choice">味を選びたい</a></li>
        <li><a href="/collections/party">パーティー用</a></li>
      </ul>
    </nav>
  </div><!-- /.side-menu -->
  <div class="side-menu">
    <p>好みから選ぶ<span class="arrow"></span></p>
    <nav>
      <ul>
        <li><a href="/collections/tastes">色々味わいたい</a></li>
        <li><a href="/collections/vegan">Veganフレンドリー</a></li>
        <li><a href="/collections/southern">南国の食材</a></li>
      </ul>
    </nav>
  </div><!-- /.side-menu -->
  <div class="side-menu">
    <p>味から選ぶ<span class="arrow"></span></p>
    <nav>
      <ul>
        <li><a href="/collections/fruits">フルーツ系</a></li>
        <li><a href="/collections/milk">ミルク系</a></li>
        <li><a href="/collections/macaron-set">+マカロンセット</a></li>
      </ul>
    </nav>
  </div><!-- /.side-menu -->
</div><!-- /.sidebar -->