  <div class="txt-slider">
    <div class="to-left">
      <p>YANBARU GELATO YANBARU GELATO</p>
      <p>YANBARU GELATO YANBARU GELATO</p>
    </div>
    <div class="to-right">
      <p>OKINAWA ORGANIC GELATO OKINAWA ORGANIC GELATO</p>
      <p>OKINAWA ORGANIC GELATO OKINAWA ORGANIC GELATO</p>
    </div>
  </div><!-- /.txt-slider -->

  <div class="under_banner-area inner flex">
    <div class="img-box"><a href="/collections/tastes"><img src="https://cdn.shopify.com/s/files/1/0623/5966/6733/files/under-banner01.png" alt=""></a></div>
    <div class="img-box"><a href="/collections/vegan"><img src="https://cdn.shopify.com/s/files/1/0623/5966/6733/files/under-banner02.png" alt=""></a></div>
  </div><!-- /.under_banner-area --> 