@use "variable" as v;
/*************************************************
common-style
*************************************************/
@mixin base_width {
  margin: 0 auto;
  width: 1200px;
}
// @extendでスタイルの継承
// @mixinでステイルの定義
// @includeでmixinの呼び出し

// ブレイクポイント
// PC基準でコーディングする場合
$breakpoints: (
  "sm": "screen and (max-width: 768px)",
  //スマホ
  "md": "screen and (max-width: 1200px)",
  //タブレット
) !default;
@mixin mq($breakpoint: sm) {
  @media #{map-get($breakpoints , $breakpoint)} {
    @content;
  }
}

// スマホ基準でコーディングする場合
// $breakpoints: (
//   "md": "screen and (min-width: 600px)", //タブレット
//   "lg": "screen and (min-width: 1025px)", //パソコン
// ) !default;
// @mixin mq($breakpoint: lg) {
//   @media #{map-get($breakpoints , $breakpoint)} {
//     @content;
//   }
// }

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Zen Kaku Gothic New", "ヒラギノ角ゴ Pro W3",
    "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "游ゴシック", "Yu Gothic",
    "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

@font-face {
  font-family: "optima";
  src: url("https://cdn.shopify.com/s/files/1/0623/5966/6733/files/OPTIMA.woff")
    format("woff");
}

.img-box {
  img {
    width: 100%;
  }
}

.obj-fit {
  img {
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.h-scale {
  overflow: hidden;
  img {
    transition: all 0.3s;
  }
  &:hover {
    img {
      transform: scale(1.1);
    }
  }
}

.flex {
  display: flex;
}

.inner {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  @include mq(md) {
    width: 80%;
  }
  @include mq() {
    width: 90%;
  }
}

p,
li,
a {
  color: v.$main-txt;
  font-size: 1.5rem;
  line-height: 1.7;
  letter-spacing: 2px;
  @include mq() {
    font-size: 1.4rem;
  }
}

h2,
h3 {
  font-family: v.$zen-ol;
  letter-spacing: 2px;
}

.head-ttl {
  font-family: v.$cinzel;
  font-size: 2.8rem;
  font-weight: 600;
  text-align: center;
  letter-spacing: 4px;
  margin-bottom: 2rem;
  @include mq() {
    font-size: 2.2rem;
    margin-bottom: 1.4rem;
  }
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

// /iOSでのデフォルトスタイルをリセット /
input[type="submit"],
input[type="button"] {
  border-radius: 0;
  -webkit-box-sizing: content-box;
  -webkit-appearance: button;
  appearance: button;
  border: none;
  box-sizing: border-box;
  &::-webkit-search-decoration {
    display: none;
  }
  &:focus {
    outline-offset: -2px;
  }
}

.wrap-hidden {
  overflow: hidden;
}

.btn-area {
  .btn,
  .btn02,
  .btn-link {
    position: relative;
    display: inline-block;
    padding: 1rem 5rem;
    border-radius: 3.7rem;
    font-family: v.$zen-ol;
    font-size: 1.6rem;
    transition: all 0.3s;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 10%;
      width: 13.82px;
      aspect-ratio: 1/0.88;
      transition: all 0.3s;
    }
  }
  .btn {
    color: #fff;
    border: 1px solid #fff;
    &::before {
      background: url(https://cdn.shopify.com/s/files/1/0623/5966/6733/files/arrow01.svg)
        no-repeat center/contain;
    }
  }
  .btn02 {
    color: #000;
    border: 1px solid #000;
    &::before {
      background: url(https://cdn.shopify.com/s/files/1/0623/5966/6733/files/arrow02.svg)
        no-repeat center/contain;
    }
  }
  .btn-link {
    color: #fff;
    border: 1px solid #fff;
    &::before {
      width: 14.66px !important;
      aspect-ratio: 1/0.76 !important;
      background: url(https://cdn.shopify.com/s/files/1/0623/5966/6733/files/icon-link02.svg)
        no-repeat center/contain;
    }
  }
}

.b-rudius {
  overflow: hidden;
  border-bottom-left-radius: 3rem;
  border-bottom-right-radius: 3rem;
  @include mq() {
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
  }
}

.item-card {
  position: relative;
  width: 27rem;
  .img-box {
    aspect-ratio: 1/1;
    overflow: hidden;
  }
  .under-box {
    padding: 1.5rem 2rem;
    background-color: #fff;
    p {
      color: v.$sub-txt;
    }
    .name {
      font-size: 1.8rem;
      font-weight: 600;
      line-height: 1.4;
      @include mq() {
        font-size: 1.5rem;
      }
    }
    .cate {
      font-size: 1.4rem;
      color: v.$sub-txt;
      font-weight: 500;
      opacity: 0.59;
      @include mq() {
        font-size: 1.1rem;
      }
    }
    .price {
      font-size: 1.8rem;
      font-weight: 600;
      margin-bottom: 1.5rem;
      @include mq() {
        font-size: 1.5rem;
      }
    }
    .to-detail {
      background-color: #000;
      height: 4.4rem;
      margin-bottom: 1rem;
      transition: all 0.3s;
      &:hover {
        opacity: 0.5;
      }
      &.b-rudius {
        border-bottom-left-radius: 1.5rem;
        border-bottom-right-radius: 1.5rem;
        @include mq() {
          border-bottom-left-radius: 1rem;
          border-bottom-right-radius: 1rem;
        }
      }
      a {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.6rem;
        font-weight: 500;
        color: #fff;
        @include mq() {
          font-size: 1.3rem;
        }
      }
    }
    .add-cart {
      margin-bottom: 1rem;
      button {
        position: relative;
        background-color: v.$sub-color01;
        width: 100%;
        height: 4.4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.6rem;
        font-weight: 500;
        color: #fff;
        transition: all 0.3s;
        @include mq() {
          font-size: 1.3rem;
          line-height: 1;
        }
        &:hover {
          background-color: #9f0d00;
        }
        &::before {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 4rem;
          content: "";
          width: 15.81px;
          aspect-ratio: 1/0.95;
          background: url(https://cdn.shopify.com/s/files/1/0623/5966/6733/files/icon-cart.svg)
            no-repeat center/contain;
        }
        &.b-rudius {
          border-bottom-left-radius: 1.5rem;
          border-bottom-right-radius: 1.5rem;
        }
      }
    }
  }
  .preview {
    position: absolute;
    top: 1.5rem;
    right: 1rem;
  }
}

////////////////////////////////////
//商品情報モーダル
////////////////////////////////////
.remodal {
  max-width: 85rem;
  height: 70vh;
  max-height: 55rem;
  padding: 5rem;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  @include mq() {
    padding: 5rem 2rem;
  }
  .remodal-close {
    left: auto;
    right: 0;
  }
  .modal-inner {
    height: 100%;
    overflow: scroll;
  }
  p {
    text-align: left;
  }
  .item-content {
    display: flex;
    gap: 4rem;
    @include mq() {
      flex-direction: column;
      gap: 3rem;
    }
  }
  .img-content {
    width: 35rem;
    flex-shrink: 0;
    @include mq() {
      width: 100%;
      flex-basis: 100%;
      margin-right: initial;
    }
  }
  .img-wrapper {
    .swiper-preview {
      overflow: hidden;
    }
    .swiper-slide .img-wrap {
      aspect-ratio: 1/1;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        -o-object-position: center;
        object-position: center;
      }
    }
  }
  .thumb-list {
    display: flex;
    margin-top: 1.4rem;
    flex-wrap: wrap;
    gap: 1.3rem;
    @include mq() {
      gap: 0.7rem;
    }
    .thumb-item {
      width: calc((100% / 5) - (5.2rem / 5));
      aspect-ratio: 1/1;
      overflow: hidden;
      @include mq() {
        width: calc((100% / 5) - (2.8rem / 5));
      }
    }
    .thumb-link {
      display: block;
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        -o-object-position: center;
        object-position: center;
      }
    }
  }

  // 右側のコンテンツ
  .detail-content {
    width: 100%;
    letter-spacing: normal;
    color: #1c0702;
    @include mq() {
      width: 100%;
      flex-basis: 100%;
    }
    .name {
      font-size: 1.8rem;
      font-weight: 600;
      font-family: v.$zen-ol;
      line-height: 1.5;
      margin-bottom: 1rem;
      @include mq() {
        font-size: 1.6rem;
      }
    }
    .cate {
      font-size: 1.4rem;
      opacity: 0.59;
      margin-bottom: 0.5rem;
      @include mq() {
        font-size: 1.3rem;
      }
    }
    .price {
      font-family: v.$zen-ol;
      font-size: 2rem;
      font-weight: 600;
      letter-spacing: 2px;
      margin-bottom: 1.7rem;
      @include mq() {
        font-size: 1.8rem;
      }
    }
    .btn-item {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 20rem;
      height: 5rem;
      aspect-ratio: 1/0.27;
      background-color: v.$sub-color01;
      color: #fff;
      font-size: 1.4rem;
      font-weight: 500;
      margin-bottom: 2rem;
      transition: all 0.3s;
      @include mq() {
        width: 100%;
      }
      &:hover {
        background-color: #9f0d00;
      }
    }
    .block_tex {
      height: 13.7rem;
      letter-spacing: 2px;
      line-height: 1.7;
      padding-top: 1.7rem;
      border-top: 1px solid #d1d1d1;
      overflow: scroll;
      font-size: 1.4rem;
      margin-bottom: 2rem;
      @include mq() {
        height: 15rem;
        margin-bottom: 4rem;
      }
    }

    .item-count {
      form {
        display: flex;
        gap: 1rem;
        @include mq() {
          flex-direction: column;
        }
      }
      .product-quantity_wrapper {
        display: flex;
        align-items: center;
        width: 100%;
        margin-bottom: 30px;
        @include mq() {
          margin-bottom: 0;
        }
        .c-ttl {
          font-size: 1.5rem;
          margin-right: 20px;
        }
        .product-quantity {
          display: flex;
          background: #fff;
          border: 1px solid #29294a;
          text-align: center;
          font-size: 16px;
          height: 44px;
          button {
            width: 37px;
          }
          input {
            width: initial;
            padding: initial;
            border-radius: initial;
            width: 37px;
          }
        }
      }
    }
    // input numberの非表示
    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    .cart-btn {
      position: relative;
      font-size: 1.4rem;
      background-color: v.$sub-color01;
      color: #fff;
      height: 4.4rem;
      display: grid;
      place-content: center;
      width: 22rem;
      cursor: pointer;
      transition: all 0.3s;
      @include mq() {
        width: 100%;
      }
      &::before {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 10%;
        content: url(https://cdn.shopify.com/s/files/1/0623/5966/6733/files/icon-cart.svg);
        width: 12px;
        aspect-ratio: 1/0.95;
      }
      &:hover {
        background-color: #9f0d00;
      }
    }
  }
}

.product-options {
  p,
  label,
  select {
    font-family: v.$zen-ol;
  }
  p {
    font-size: 1.8rem;
    color: #fff;
    margin-bottom: 1.5rem;
  }
  label {
    font-size: 1.7rem;
    color: #fff;
    letter-spacing: 1px;
    display: block;
    margin-bottom: 1rem;
  }
  .p-option {
    margin-bottom: 3rem;
    select {
      width: 100%;
      font-size: 1.5rem;
      color: v.$main-txt;
      padding: 1rem;
      background-color: #fff;
    }
  }
}

.cart-add-success-message {
  font-family: v.$zen-ol;
  font-size: 1.4rem;
  color: #fff;
  margin-bottom: 1rem;
}

.empty {
  display: none;
}
