@use "variable"as v;
@use "common"as c;
/*************************************************
header
*************************************************/
header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  transition: all .3s;
  &.active {
    background-color: rgba($color: #000000, $alpha: .5);
  }
  &.is-megamenu-icon {
    background-color: transparent !important;
    .header_inner {
      .ham-open {
        display: block;
      }
      .ham-close {
        display: none;
      }
      .logo {
        h1 {
          color: #000;
        }
      }
    }
  }
  p,a {
    color: #fff;
  }
  .header_inner {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 3.6rem 0 2rem;
    @include c.mq(md) {
      padding: 2rem 0 2rem;
      align-items: center;
    }
    .ham-open {
      display: none;
    }
    .logo {
      gap: 1.7rem;
      align-items: center;
      @include c.mq(md) {
        gap: 1rem;
        align-items: flex-start;
        flex-direction: column;
      }
      a {
        display: block;
        img {
          width: 19.7rem;
          @include c.mq() {
            width: v.pxtovw_sp(162);
          }
        }
      }
      h1 {
        // font-size: 1.5rem;
        font-size: min(v.pxtovw(15),1.5rem);
        font-family: v.$zen-ol;
        color: #fff;
        @include c.mq() {
          font-size: v.pxtovw_sp(11);
        }
      }
    }
    .header-menu {
      display: flex;
      gap: 3.6rem;
      // @include c.mq(md) {
      //   display: none;
      // }
      @include c.mq(md) {
        gap: 1.5rem;
        align-items: center;
      }
      nav {
        ul {
          display: flex;
          gap: 2.6rem;
          @include c.mq(md) {
            gap: 1.5rem;
          }
          li {
            a {
              font-size: min(v.pxtovw(15),1.5rem);
            }
          }
        }
      }
      .nav01 {
        @include c.mq(md) {
          display: none;
        }
      }
      .nav02 {
        ul {
          li {
            &:first-of-type {
              @include c.mq(md) {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}


//ハンバーガーボタン
.hamberger-wrap {
  display: none;
  @include c.mq(md) {
    display: block;
  }
}
.hambager-content {
  position: relative;
	width: 4.5rem;
  aspect-ratio: 1/ 1 ;
  border: 1px solid #fff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include c.mq(md) {
    border: 1px solid #fff;
  }
	&.is-ham-open {
    border: 1px solid #000;
		.hambager {
			.c-line {
				background-color: #000;
				&:first-of-type {
					animation: line1-open var(--navTransition) forwards;
				}
				&:nth-of-type(2) {
					animation: line2-open var(--navTransition) forwards;
				}
				&:last-of-type {
					animation: line3-open var(--navTransition) forwards;
				}
			}
		}
    p {
      color: #000;
    }
	}
  p {
    font-family: v.$zen-ol;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1;
    letter-spacing: 0;
    margin-top: .5rem;
  }
}
:root {
	--navTransition: 0.4s;
}
.hambager {
	width: 1.66rem;
	height: 0.85rem;
	position: relative;
  display: block;
  margin-top: .7rem;
	cursor: pointer;
	.c-line {
		height: 1px;
		background-color: #fff;
		width: 2.37rem;
		position: absolute;
		left: 0;
		right: 0;
    @include c.mq(sm) {
      width: 100%;
      background-color: #fff;
    }
		&:first-of-type {
			top: 0;
			animation: line1 var(--navTransition) forwards;
		}
		&:nth-of-type(2) {
			top: 50%;
			animation: line2 var(--navTransition) forwards;
		}
		&:last-of-type {
			top: 100%;
			animation: line3 var(--navTransition) forwards;
		}
	}
}

@keyframes line1 {
	0% {
		top: 50%;
		transform: rotate(45deg);
	}
	50% {
		transform: rotate(0);
		top: 50%;
	}
	100% {
		transform: rotate(0);
		top: 0;
	}
}
@keyframes line1-open {
	0% {
		transform: rotate(0);
		top: 0;
	}
	50% {
		transform: rotate(0);
		top: 50%;
	}
	100% {
		top: 50%;
		transform: rotate(45deg);
	}
}
@keyframes line2 {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes line2-open {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}
@keyframes line3 {
	0% {
		top: 50%;
		transform: rotate(-45deg);
	}
	50% {
		transform: rotate(0);
		top: 50%;
	}
	100% {
		transform: rotate(0);
		top: 100%;
	}
}
@keyframes line3-open {
	0% {
		transform: rotate(0);
		top: 100%;
	}
	50% {
		transform: rotate(0);
		top: 50%;
	}
	100% {
		top: 50%;
		transform: rotate(-45deg);
	}
}


.mega-menu {
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  background: url(../images/top-category-bg01.png) no-repeat top/contain;
  background-color: #fff;
  overflow: scroll;
  z-index: 998;
  .mega-menu_inner {
    width: 90%;
    margin: 0 auto;
    padding: 12rem 0 3rem;
    a,input {
      font-family: v.$zen-ol;
    }
    .serch {
      margin-bottom: 1.5rem;
      .header_search-inner {
        border: 1px solid #333;
        border-radius: 2rem;
        display: inline-flex;
        align-items: center;
        width: 100%;
        input[type=text] {
          width: 100%;
          font-size: 1.3rem;
          padding: 1.2rem 2rem;
        }
        .icn-search {
          width: 14px;
          box-sizing: content-box;
          height: 100%;
          padding-right: 2rem;
        }
      }
    }
    nav {
      ul {
        a {
          display: flex;
          gap: .5rem;
          align-items: center;
          font-weight: 500;
          width: 100%;
          height: 100%;
        }
      }
    }
    .nav01 {
      margin-bottom: 3rem;
      ul {
        li {
          padding: 1.5rem 0;
          border-bottom: 1px dotted #1A1311;
          a {
            font-size: 1.5rem;
          }
        }
      }
    }
    .nav02 {
      margin-bottom: 3rem;
      ul {
        li {
          margin-bottom: 1rem;
          a {
            font-size: 1.2rem;
          }
        }
      }
    }
    .insta {
      display: flex;
      gap: .5rem;
      align-items: center;
      font-size: 1.5rem;
    }
  }
}
.is-megamenu-open {
  display: block;
}