<footer>
  <div class="footer-top">
    <div class="inner">
      <div class="flex">
        <div class="column01">
          <a href="{{ routes.root_url }}">
            <div class="img-box"><img src="https://cdn.shopify.com/s/files/1/0623/5966/6733/files/logo02.png" alt=""></div>
            <p>公式オンラインストア | Online Store</p>
          </a>
        </div><!-- /.column01 -->
        <div class="column02">
          <nav>
            <ul>
              <li><a href="/pages/about/">やんばるジェラートについて</a></li>
              <li><a href="/blogs/flavor/">フレーバー紹介</a></li>
              <li><a href="/collections/all/">商品一覧</a></li>
              <li><a href="/pages/faq/">よくあるご質問</a></li>
              <li><a href="https://yanbarugelato.jp/access/" target="_blank">店舗一覧<img src="https://cdn.shopify.com/s/files/1/0623/5966/6733/files/icon-link.svg" alt=""></a></li>
            </ul>
          </nav>
          <nav>
            <ul>
              <li><a href="/account/">ログイン</a></li>
              <li><a href="/pages/faq#shipping">送料・お支払いについて</a></li>
              <li><a href="/pages/contact-form/">お問い合わせ</a></li>
              <li><a href="/pages/company/">会社概要</a></li>
              <li><a href="/pages/terms/">特定商取引法に基づく表記</a></li>
              <li><a href="/pages/policy/">プライバシーポリシー</a></li>
            </ul>
          </nav>
        </div><!-- /.column02 -->
        <div class="column03">
          <div class="box b-rudius">
            <a href="https://yanbarugelato-okinawa.foodre.jp/" target="_blank">
              <p class="ttl">CORPORATE SITE</p>
              <p class="txt">コーポレートサイト<img src="https://cdn.shopify.com/s/files/1/0623/5966/6733/files/icon-link.svg" alt=""></p>
            </a>
          </div><!-- /.box -->
          <div class="box b-rudius">
            <a href="https://www.instagram.com/yanbarugelato_okinawa/" target="_blank">
              <p class="ttl">INSTAGRAM</p>
              <p class="txt"><img src="https://cdn.shopify.com/s/files/1/0623/5966/6733/files/icon-insta.svg" alt="">yanbarugelato_okinawa<img src="https://cdn.shopify.com/s/files/1/0623/5966/6733/files/icon-link.svg" alt=""></p>
            </a>
          </div><!-- /.box -->
        </div><!-- /.column03 -->
      </div><!-- /.flex -->
    </div><!-- /.inner -->
  </div><!-- /.footer-top -->

  <div class="footer-bottom">
    <div class="inner">
      <div class="flex">
        <div class="column01">
          <div class="img-box"><img src="https://cdn.shopify.com/s/files/1/0623/5966/6733/files/logo01.png" alt=""></div>
          <p>
            〒901-2226　沖縄県宜野湾市嘉数3-19-1<br>
            <span>098-943-5434</span>
          </p>
          <p>
            [オンラインストア休業日]<br>
            毎週火曜日・年末年始（31日〜2日）<br>
            ※休業日は発送業務ができませんのでご了承ください。
          </p>
        </div><!-- /.column01 -->
        <div class="column02">
          <div id="calendar1">
            <iframe src="https://calendar.google.com/calendar/embed?src=c_07fb1a7904388e386f8c339a9585b8b26cdf6a223735786e312aa797378ed48a%40group.calendar.google.com&ctz=Asia%2FTokyo" style="border: 0" width="100%" frameborder="0" scrolling="no"></iframe>
          </div>
          <div id="calendar2">
            <iframe src="https://calendar.google.com/calendar/embed?src=c_07fb1a7904388e386f8c339a9585b8b26cdf6a223735786e312aa797378ed48a%40group.calendar.google.com&ctz=Asia%2FTokyo" style="border: 0" width="100%" frameborder="0" scrolling="no"></iframe>
          </div>
        </div><!-- /.column02 -->
      </div>
    </div><!-- /.inner -->
  </div><!-- /.footer-bottom -->
</footer>