<!-- メインビジュアル -->
<div class="under-mv p_about">
  <div class="img-box obj-fit">
    <picture>
      <source srcset="https://cdn.shopify.com/s/files/1/0623/5966/6733/files/under-about-mv.png" media="(max-width: 769px)">
      <img src="https://cdn.shopify.com/s/files/1/0623/5966/6733/files/under-about-mv.png" alt="">
    </picture>   
  </div>
  <div class="under_mv-ttl">
    <h2>やんばるジェラートについて</h2>
    <p><span>A</span>BOUT US</p>
  </div>
</div><!-- /.under-mv -->

<div class="p_under p_about">

  <div class="wrap01">
    <div class="inner">
      <div class="block">
        <h3 class="fadeIn">果物よりくだもの味</h3>
        <p class="sub-ttl fadeIn">素材の濃厚な味わいが<br class="u-sp">魅力のジェラート</p>
        <div class="img-box anime-para02 fadeIn"><img src="https://cdn.shopify.com/s/files/1/0623/5966/6733/files/about-img01.jpg" alt=""></div>
        <p class="fadeIn">
          勝山のシークワーサー、今帰仁のスイカ、県産のマンゴー、<br class="u-pc">
          宮平の牛乳や伊江島の紅芋など、<br class="u-pc">
          沖縄の自然と気候が育んだ素材本来の味を引き出す製法に<br class="u-pc">
          こだわったジェラートを販売しております。<br>
          台風等による強い雨風の影響を受けやすい地域であることから、<br>
          見た目や傷の問題で規格外となる果物が大量に廃棄される現状を知り、<br class="u-pc">
          再活用するための活動を行っております。<br>
          フードロス削減とともに安全性にも配慮した製品を提供いたします。
        </p>
      </div><!-- /.block -->
      <div class="fruits-obj mango img-box fadeIn"><img src="https://cdn.shopify.com/s/files/1/0623/5966/6733/files/about-obj01.png" alt=""></div>
      <div class="fruits-obj pine img-box fadeIn"><img src="https://cdn.shopify.com/s/files/1/0623/5966/6733/files/about-obj02.png" alt=""></div>
    </div><!-- /.inner -->
  </div><!-- .wrap01 -->

  <div class="wrap02">
    <div class="inner">
      <div class="box flex fadeIn">
        <div class="left">
          <h3><span>沖縄の香りと味を追求し<br class="u-sp"></span>お客様へお届け</h3>
          <div class="img-box obj-fit u-sp"><img src="https://cdn.shopify.com/s/files/1/0623/5966/6733/files/about-img02.jpg" alt=""></div>
          <p>
            勝山シークワーサー、今帰仁スイカ、県産マンゴー、パイナップルなど沖縄を代表する果物をはじめ、たくさんの瑞々しい果物を使用しジェラートを作っています。大自然が織りなす豊かな沖縄の空気を感じていただける爽やかなジェラートです。全国発送もしておりますので、ご自宅に帰っても楽しんでいただけます。沖縄の香りと味が詰まった極上デザートを通し、これからも地域の魅力を更にお伝えしてまいります。
          </p>
        </div><!-- /.left -->
        <div class="right">
          <div class="img-box obj-fit u-pc"><img src="https://cdn.shopify.com/s/files/1/0623/5966/6733/files/about-img02.jpg" alt=""></div>
        </div><!-- /.right -->
      </div><!-- /.box -->
      <div class="box flex reverce fadeIn">
        <div class="left">
          <h3><span>勿体ないを減らす<br class="u-sp"></span>規格外果物の再活用</h3>
          <div class="img-box obj-fit u-sp"><img src="https://cdn.shopify.com/s/files/1/0623/5966/6733/files/about-img03.jpg" alt=""></div>
          <p>
            気候や台風の影響により約3億円分の果物が破棄されている地域の問題に取り組むため、「何かできることはないか」と知人のジェラート職人と共にジェラート制作を始めたのがきっかけでした。規格外果物といっても、美味しく食べられる旬の果物です。自然たっぷりの場所で育った安全な果物は、正規品と変わらないフレッシュな香りと果物本来の甘さを感じていただけます。
          </p>
        </div><!-- /.left -->
        <div class="right">
          <div class="img-box obj-fit u-pc"><img src="https://cdn.shopify.com/s/files/1/0623/5966/6733/files/about-img03.jpg" alt=""></div>
        </div><!-- /.right -->
      </div><!-- /.box -->
      <div class="box flex fadeIn">
        <div class="left">
          <h3>お客様がジェラートを<br class="u-sp">食べることによって<br><span>フードロスに参加</span></h3>
          <div class="img-box obj-fit u-sp"><img src="https://cdn.shopify.com/s/files/1/0623/5966/6733/files/about-img04.jpg" alt=""></div>
          <p>
            農家の方々に寄り添い、少しでも「勿体ない」を減らすため奮闘中です。お客様みな様がジェラートを美味しく食べていただくことによってフードロスの削減に繋がります。当店では本来食べられるにもかかわらず、棄てられてしまう規格外果物をジェラートの原料にすることで、フードロスの削減に努めています。四季折々の旬の果物を使用しているため、季節ごとに違ったお味をお楽しみいただけます。人にも地球にも美味しいジェラートを通して、SDGsに優しい取り組みに参加しませんか。
          </p>
        </div><!-- /.left -->
        <div class="right">
          <div class="img-box obj-fit u-pc"><img src="https://cdn.shopify.com/s/files/1/0623/5966/6733/files/about-img04.jpg" alt=""></div>
        </div><!-- /.right -->
      </div><!-- /.box -->
      <div class="box flex reverce fadeIn">
        <div class="left">
          <h3>沖縄の大地を感じる<br class="u-sp"><span>カラフルな色合い</span></h3>
          <div class="img-box obj-fit u-sp"><img src="https://cdn.shopify.com/s/files/1/0623/5966/6733/files/about-img05.jpg" alt=""></div>
          <p>
            今帰仁のスイカ、名護勝山のシークワーサー、県産のマンゴー、伊江島の紅芋など、沖縄の各地で育ったあらゆる果物を使っています。生い茂った濃い緑の奥に見える真っ青な海、咲き誇る様々な花たち、エイサー、昔ながらの木造家屋とカラフルな街並みなど、沖縄の自然や景色を映したような色とりどりのジェラートたちです。農家の方が丁寧に育てた果物の美味しさを引き出した濃厚な味わいです。
          </p>
        </div><!-- /.left -->
        <div class="right">
          <div class="img-box obj-fit u-pc"><img src="https://cdn.shopify.com/s/files/1/0623/5966/6733/files/about-img05.jpg" alt=""></div>
        </div><!-- /.right -->
      </div><!-- /.box -->
    </div><!-- /.inner -->
    <div class="gela-obj mango img-box"><img src="https://cdn.shopify.com/s/files/1/0623/5966/6733/files/about-obj03.png" alt=""></div>
    <div class="gela-obj berry img-box"><img src="https://cdn.shopify.com/s/files/1/0623/5966/6733/files/about-obj04.png" alt=""></div>
  </div><!-- /.wrap02 -->

  {% render 'under-common-block' %}

</div><!-- /.p_under p_item-list -->
