<!-- メインビジュアル -->
<div class="under-mv p_faq">
  <div class="img-box obj-fit">
    <picture>
      <source srcset="https://cdn.shopify.com/s/files/1/0623/5966/6733/files/under-mv.png" media="(max-width: 769px)">
      <img src="https://cdn.shopify.com/s/files/1/0623/5966/6733/files/under-mv.png" alt="">
    </picture>   
  </div>
  <div class="under_mv-ttl">
    <h2>よくあるご質問</h2>
    <p><span>F</span>AQ</p>
  </div>
</div><!-- /.under-mv -->

<div class="p_under p_faq">

  <div class="inner">

    <div class="anker-link">
      <a href="#order">ご注文・お支払いについて<span class="arrow"></span></a>
      <a href="#shipping">配送・送料について<span class="arrow"></span></a>
      <a href="#return">返品・交換について<span class="arrow"></span></a>
    </div><!-- /.anker-linkbtn -->

    <div id="order" class="anker-point">
      <div class="block">
        <h2>ご注文・お支払いについて</h2>
        <div class="qa-list mts">
          <dl class="qa">
            <dt>電話やFAXで注文できますか？</dt>
            <dd>
              <p>ご注文方法はインターネットからのご注文のみとなっております。お電話やFAX、メールでのご注文は承っておりませんのでご了承ください。</p>
            </dd>
          </dl>
          <dl class="qa">
            <dt>ギフトラッピングはできますか？</dt>
            <dd>
              <p>のしをおつけすることができます。</p>
            </dd>
          </dl>
          <dl class="qa">
            <dt>お支払い方法は何がありますか？</dt>
            <dd>
              <p>
                当店では、クレジット決済、後払い、代引きをご利用いただけます。
              </p>
              <p>
                【銀行振込の場合】<br>
                ご注文日を含む10日以内に下記口座にご入金をお願いします。<br>
                <br>
                沖縄銀行　大平支店<br>
                普通　1564247<br>
                合同会社やんばるジェラート　代表社員　國場 和雄
              </p>
            </dd>
          </dl>
          <dl class="qa">
            <dt>注文してからどれくらいで発送されますか？</dt>
            <dd>
              <p>
                ご注文・決済完了後、<strong>土日祝日を除く5営業日以内</strong>に発送いたします。<br>
                ※製造・ご注文の状況により、発送日が前後する可能性がございます。あらかじめご了承ください。<br>
                ※お急ぎの方は、お問い合わせフォームよりご相談ください。
              </p>
            </dd>
          </dl>
          <dl class="qa">
            <dt>注文内容の変更/キャンセルをしたいです。</dt>
            <dd>
              <p>商品の発送前でしたら対応可能な場合もございます。一度、お問合せフォームよりお問い合わせください。</p>
            </dd>
          </dl>
          <dl class="qa">
            <dt>注文したのですが、注文確認のメールが届かないです。</dt>
            <dd>
              <p>
                当社からのご注文受付メールは、お客様のご注文完了後、システムにより自動的に配信されます。ご注文いただいてから1日以上経っても確認メールが届かない場合は、下記の点をご確認ください。
              </p>
              <p>
                ●ご注文時に登録いただきましたメールアドレスに誤り・変更はございませんか？<br>
                ・特に@以降の間違いが多くございます。「@***.ne.jp」<br>
                ・ハイフン「-」とアンダーバー「_ 」の入力にご注意ください。
              </p>
              <p>
                ●受信拒否の設定をされていませんか？<br>
                ・特にスマートフォンにおいて、受信先の設定をされている場合がございます。<br>
                設定をご確認いただき、受信先を指定されている場合は、「<span>info@yanbarugelato.jp</span>」からのメールを受信ドメインにご登録ください。
              </p>
            </dd>
          </dl>
          <dl class="qa">
            <dt>ギフトにしたいので、金額が表示された明細書などを入れないでほしいです。</dt>
            <dd>
              <p>ギフトでご注文の場合は、価格のわかるものは含めずにお届けしておりますのでご安心ください。</p>
            </dd>
          </dl>
        </div><!-- /.qa-list -->
      </div><!-- /.block -->
    </div>

    <div id="shipping" class="anker-point">
      <div class="block">
        <h2>配送・送料について</h2>
        <div class="qa-list mts">
          <dl class="qa">
            <dt>送料はいくらですか？</dt>
            <dd>
              <p>
                <span>沖縄県外　1,350円</span><br>
                <span>沖縄県内　850円</span><br>
                <span>※１回のご注文金額が商品代金10,000円（税込）以上の場合、全国無料配送になります。</span>
              </p>
            </dd>
          </dl>
          <dl class="qa">
            <dt>日付指定できますか？</dt>
            <dd>
              <p>
                お届け日は、ご注文日の7日以降よりご希望の日時をお選びいただけます。 お届け日を指定しない場合は、ご注文・決済完了後、土日祝日を除く5営業日以内に発送いたします。<br>
                ※お急ぎの方は、お問合せフォームよりご相談ください。
              </p>
            </dd>
          </dl>
          <dl class="qa">
            <dt>複数の配送先に送りたいのですが、できますか？</dt>
            <dd>
              <p>1回のご注文内でお届け先を分けることはできかねます。複数の配送先へのお届けをご希望の場合は、お手数ですがそれぞれのお届け先ごとにご注文をお願いいたします。</p>
            </dd>
          </dl>
          <dl class="qa">
            <dt>配送の状況はどこから確認できますか？</dt>
            <dd>
              <p>商品の発送完了後、ご注文時のメールアドレスに「商品を発送いたしました」というメールをお届けしており、メール内に伝票番号を記載しています。配送状況につきましては、ヤマト運輸の荷物お問合せシステムよりご確認いただけます。</p>
            </dd>
          </dl>
          <dl class="qa">
            <dt>海外への発送は可能ですか？</dt>
            <dd>
              <p>申し訳ございませんが、海外への発送は承っておりません。</p>
            </dd>
          </dl>
          <dl class="qa">
            <dt>別々に注文した商品を同梱できますか？</dt>
            <dd>
              <p>
                複数回ご注文いただき、かつ発送準備前で、下記の条件に該当する場合は、送料を調整し1件分のご注文としておまとめ可能です。ただし、銀行振込を選択されおり、お支払いが完了している場合など、対応が難しい場合もございます。一度、お問合せフォームよりご相談ください。<br>
                ・お届け先やお届け日などの情報が同一の場合<br>
                ・お客さまから同梱を希望される旨をご連絡をいただいた場合
              </p>
            </dd>
          </dl>
        </div><!-- /.qa-list -->
      </div><!-- /.block -->
    </div>

    <div id="return" class="anker-point">
      <div class="block">
        <h2>返品・交換について</h2>
        <div class="qa-list mts">
          <dl class="qa">
            <dt>商品を返品・交換したいです。</dt>
            <dd>
              <p>
                商品到着後のお客様のご都合による返品・交換は、原則としてお受けしておりません。<br>
                不良品の場合は、商品到着から1週間以内の申し出で返品対応いたします。
              </p>
            </dd>
          </dl>
          <dl class="qa">
            <dt>届いた商品に商品に不備がありました。</dt>
            <dd>
              <p>
                到着した商品に不備・不良品がありましたらご連絡ください。商品の破損など、当店の不手際により不備が発生した場合は、代品がある場合には交換、無い場合にはご返品・ご返金として対応いたします。
              </p>
              <p>
                商品到着後1週間以内に、お問合せフォームまたはお電話にてご連絡をいただけますようお願い申し上げます。その際お手数ですが、①お名前、②お電話番号、③受注番号（「ご注文確認メール」に記載されております）をお知らせください。手続きの手順について、ご案内させていただきます。
              </p>
            </dd>
          </dl>
        </div><!-- /.qa-list -->
      </div><!-- /.block -->
    </div>

  </div><!-- /.inner -->

  {% render 'under-common-block' %}

</div><!-- /.p_under p_item-list -->