<!-- メインビジュアル -->
<div class="under-mv p_contact">
  <div class="img-box obj-fit">
    <picture>
      <source srcset="https://cdn.shopify.com/s/files/1/0623/5966/6733/files/under-mv.png" media="(max-width: 769px)">
      <img src="https://cdn.shopify.com/s/files/1/0623/5966/6733/files/under-mv.png" alt="">
    </picture>   
  </div>
  <div class="under_mv-ttl">
    <h2>お問い合わせ</h2>
    <p><span>C</span>ONTACT</p>
  </div>
</div><!-- /.under-mv -->

<div class="p_under p_contact">

  <div class="inner">

    <p class="message">
      お問い合わせは、下記お電話またはメールフォームにて承ります。<br>
      また、お客さまからよく寄せられる質問とその回答を、<a href="/pages/faq/">「よくある質問」ページ</a>にまとめておりますので、ぜひご覧ください。
    </p>

    <div class="contact-tel">
      <p>お電話から</p>
      <a href="tel:0989435434"><img src="https://cdn.shopify.com/s/files/1/0623/5966/6733/files/icon-tel.svg" alt="">098-943-5434</a>
      <p class="business-hours">営業時間｜11:00~19:00（電話受付時間）</p>
    </div>

    <h2>メールフォームから</h2>
    <div class="form_wrap">
      {% section 'contact-form' %}
    </div>


  </div><!-- /.inner -->

  {% render 'under-common-block' %}

</div><!-- /.p_under p_contact -->