<!-- メインビジュアル -->
<div class="under-mv p_terms">
  <div class="img-box obj-fit">
    <picture>
      <source srcset="https://cdn.shopify.com/s/files/1/0623/5966/6733/files/under-mv.png" media="(max-width: 769px)">
      <img src="https://cdn.shopify.com/s/files/1/0623/5966/6733/files/under-mv.png" alt="">
    </picture>   
  </div>
  <div class="under_mv-ttl">
    <h2>特定商取引法に基づく表記</h2>
    <p><span>T</span>ERMS</p>
  </div>
</div><!-- /.under-mv -->

<div class="p_under p_terms">

  <div class="inner">
    <table>
      <tr>
        <th>販売業者</th>
        <td>合同会社やんばるジェラート</td>
      </tr>
      <tr>
        <th>運営統括責任者</th>
        <td>國場和雄</td>
      </tr>
      <tr>
        <th>所在地</th>
        <td>〒901-2226 沖縄県宜野湾市嘉数3-19-1</td>
      </tr>
      <tr>
        <th>電話番号</th>
        <td>098-943-5434</td>
      </tr>
      <tr>
        <th>FAX</th>
        <td>098-943-5435</td>
      </tr>
      <tr>
        <th>メールアドレス</th>
        <td>info@yanbarugelato.jp</td>
      </tr>
      <tr>
        <th>取扱商品</th>
        <td>ジェラート、マカロン</td>
      </tr>
      <tr>
        <th>販売価格</th>
        <td>各商品ページをご参照ください。</td>
      </tr>
      <tr>
        <th>商品代金以外の<br class="u-pc">必要料金</th>
        <td>消費税・送料・手数料（代引き手数料一律300円+税）はお客様のご負担となります。</td>
      </tr>
      <tr>
        <th>送料について</th>
        <td>
            沖縄県外　1,350円<br>
            沖縄県内　850円<br>
            ※１回のご注文金額が商品代金10,000円（税込）以上の場合、全国無料配送になります。
        </td>
      </tr>
      <tr>
        <th>申し込みの有効期限</th>
        <td>原則、受注確認（受注確認の為の自動送信メール発信）後、10日間とします。</td>
      </tr>
      <tr>
        <th>不良品</th>
        <td>
          商品が届きましたら直ちに内容のご確認をお願いいたします。<br>
          万が一不良品の疑いがございましたら、直ちにご連絡ください。<br>
          商品到着後のお客様のご都合による返品・交換は、原則としてお受けしておりません。<br>
          不良品の場合は、商品到着から1週間以内の申し出で返品対応いたします。
        </td>
      </tr>
      <tr>
        <th>販売数量</th>
        <td>特に指定はございません（商品によって設定あり）</td>
      </tr>
      <tr>
        <th>引き渡し時期</th>
        <td>
          決済完了後（代金引換を除く）、5営業日以内(土日祝日を除く)に発送いたします。<br>
          天候不順・配送業者の都合・その他何らかの理由により 遅延する場合はメール等でお知らせいたします。
        </td>
      </tr>
      <tr>
        <th>お支払い方法</th>
        <td>クレジットカード・代金引換・銀行振込</td>
      </tr>
      <tr>
        <th>お支払い期限</th>
        <td>
          ・代金引換の場合<br>
          　商品のお届け時に、配達員に代金のお支払いをお願いします。<br>
          <br>
          ・銀行振込の場合<br>
          　ご注文日を含む10日以内に下記口座にご入金をお願いします。<br>
          <br>
          沖縄銀行　大平支店<br>
          普通　1564247<br>
          合同会社やんばるジェラート　代表社員　國場 和雄
        </td>
      </tr>
      <tr>
        <th>返品・交換について</th>
        <td>
          ご注文確定後のお客様都合によるキャンセル・返品・交換・ご注文内容の変更は、原則承っておりません。<br>
          商品の品質につきましては万全を期しておりますが、万が一、ご注文商品と異なる商品が届いた場合や、配送中などになんらかの不備が生じた場合は速やかに代替品などの手配を取らせていただきます。<br>
          <br>
          ご注文商品と異なる商品や不良品をお届けした場合、商品到着後1週間以内に下記メールアドレスまでご連絡いただきますようお願い申し上げます。<br>
          <br>
          info@yanbarugelato.jp<br>
          営業時間：11:00～19:00<br>
          <br>
          商品の汚損・破損等、当店の不手際による返品の場合の送料は当店にて負担いたします。<br>
        </td>
      </tr>
    </table>
  </div><!-- /.inner -->

  {% render 'under-common-block' %}

</div><!-- /.p_under p_item-list -->