<!-- メインビジュアル -->
<div class="under-mv p_company">
  <div class="img-box obj-fit">
    <picture>
      <source srcset="https://cdn.shopify.com/s/files/1/0623/5966/6733/files/under-mv.png" media="(max-width: 769px)">
      <img src="https://cdn.shopify.com/s/files/1/0623/5966/6733/files/under-mv.png" alt="">
    </picture>  
  </div>
  <div class="under_mv-ttl">
    <h2>会社概要</h2>
    <p><span>C</span>OMPANY</p>
  </div>
</div><!-- /.under-mv -->

<div class="p_under p_company">

  <div class="inner">
    <table>
      <tr>
        <th>会社名</th>
        <td>合同会社やんばるジェラート</td>
      </tr>
      <tr>
        <th>設立</th>
        <td>2015年9月9日</td>
      </tr>
      <tr>
        <th>資本金</th>
        <td>百万円</td>
      </tr>
      <tr>
        <th>代表者</th>
        <td>國場　和雄</td>
      </tr>
      <tr>
        <th>住所</th>
        <td>〒901-2226　<br class="u-sp">沖縄県宜野湾市嘉数3-19-1</td>
      </tr>
      <tr>
        <th>TEL</th>
        <td>098-943-5434</td>
      </tr>
      <tr>
        <th>FAX</th>
        <td>098-943-5435</td>
      </tr>
      <tr>
        <th>事業内容</th>
        <td>ジェラートの製造・販売</td>
      </tr>
      <tr>
        <th>URL</th>
        <td>https://yanbarugelato.jp/</td>
      </tr>
    </table>
  </div><!-- /.inner -->

  {% render 'under-common-block' %}

</div><!-- /.p_under p_item-list -->